<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap type="Admin" id="sell_goodsResultSet">
		<!-- <id property="sellNum" column ="SELL_NUM"/> -->
		<id property="gId" column ="GID"/>
		
		<!-- <result property ="gId" column ="GID"/> -->
		<result property ="goodsTitle" column ="GOODS_TITLE"/>
		<result property ="goodsContent" column ="GOODS_CONTENT"/>
		<result property ="originName" column="ORIGIN_NAME"/>
		<result property ="filePath" column="FILE_PATH"/>
		<result property ="contentFilePath" column="CONTENT_FILE_PATH"/>
		<result property ="sellDate" column="SELL_DATE"/>
		<result property ="modifyDate" column="MODIFY_DATE"/>
		<result property ="status" column="STATUS"/>
	</resultMap>


	<select id ="selectList" resultMap="sell_goodsResultSet">
		SELECT *
        FROM (SELECT *
		FROM SELL_GOODS
		WHERE STATUS='Y')
		ORDER BY GID DESC
		<!-- ORDER BY N_CREATE_DATE DESC -->
	</select>

	<insert id ="insertSellgoods" parameterType="Admin">
		INSERT INTO SELL_GOODS 
		VALUES(SEQ_GID.NEXTVAL, #{goodsTitle}, #{goodsContent}, #{originName}, #{filePath}, #{contentFilePath}, SYSDATE, SYSDATE, DEFAULT
		)
	</insert>
	
	<select id ="selectshopgoods" resultMap="sell_goodsResultSet">
		SELECT *
		FROM SELL_GOODS
		WHERE GID=#{gId}
		AND STATUS='Y'
	</select>
	
	
	
	
	
	
</mapper>
