<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cartMapper">

<!--    <resultMap type="Cart" id="cartResultSet">
      <id property ="mid" column="MID"/>
      
      <result property="gid" column="GID"/>
   </resultMap>
    -->
   
   <resultMap type="Cart" id ="CartResultSet">
      <result property="cartNum" column="CARTNUM"/>
      <result property="mId" column="MID"/>
      <result property ="gId" column ="GID"/>
      <result property ="count" column ="COUNT"/>
      
   </resultMap>
   
   <update id="addAmount" parameterType = "_int">
     UPDATE CART
     SET COUNT = COUNT + 1
     WHERE CARTNUM = #{cartNum}
  </update>

   <update id="subAmount" parameterType = "_int">
     UPDATE CART
     SET COUNT = COUNT -1
     WHERE CARTNUM = #{cartNum}
  </update>
   
   
   
   <!-- 저장될 VO -->
   <resultMap type="CartList" id="cartListResultSet">
      <id property ="cartNum" column="CARTNUM"/>
      
      <result property="gId" column="GID"/>
      <result property="mId" column="MID"/>
      <result property="count" column="COUNT"/>
      <result property="goodsName" column="GOODS_NAME"/>
      <result property="goodsPrice" column="GOODS_PRICE"/>
      <result property="filePath" column="GOODS_FILE_PATH"/>
      <result property="soldout" column="SOLDOUT"/>
      <result property="name" column="USER_NAME"/>
      <result property="phone" column="PHONE"/>
      <result property="address" column="ADDRESS"/>
      <result property="point" column="POINT"/>
   </resultMap>
   
   <!-- 카트 리스트 -->
   <select id="cartList" parameterType="Member" resultMap="cartListResultSet">
  select * from ( SELECT C.CARTNUM, C.GID, G.GOODS_NAME, G.GOODS_PRICE, C.MID MM, C.COUNT, SG.GOODS_FILE_PATH, G.SOLDOUT, M.USER_NAME, M.PHONE, M.ADDRESS, M.POINT
      FROM GOODS G, SELL_GOODS SG, CART C, MEMBER M
      WHERE G.GID = SG.GID
      AND G.GID = C.GID)
      where MM = #{mid} and USER_NAME =#{userName}
   </select>
   
   <!-- 카트 삭제 -->
   <delete id="deleteCart" parameterType="Member">
      DELETE CART
      WHERE CARTNUM IN #{cartNum}
      AND MID=#{mId} 
   </delete>
   
   <!-- 포인트 쓰기 -->
   
   <insert id="CartInsert" parameterType="Cart">
      INSERT INTO CART
      VALUES(TBL_CART_SEQ.NEXTVAL, #{mId}, #{gId}, #{count}
      )
   </insert>

      <select id ="selectCartOne" parameterType="_int" resultMap="CartResultSet">

      SELECT * FROM CART WHERE CARTNUM = #{cartNum}
   
   
   </select>

	<!-- 동복 - 상품판매 시 상품리스트 조회 -->
	<select id="selectCartCheck" resultType="_int">
	  	SELECT COUNT(*)
		  FROM CART
		 WHERE MID = #{mId} 
		   AND GID = #{gId}
	</select>

</mapper>