<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cartMapper">

<!--    <resultMap type="Cart" id="cartResultSet">
      <id property ="mid" column="MID"/>
      
      <result property="gid" column="GID"/>
   </resultMap>
    -->
   
   <resultMap type="Cart" id ="CartResultSet">
		<result property="cartNum" column="CARTNUM"/>
		<result property="mId" column="MID"/>
		<result property ="gId" column ="GID"/>
		<result property ="count" column ="COUNT"/>
		
	</resultMap>
	
	
   <!-- 저장될 VO -->
   <resultMap type="CartList" id="cartListResultSet">
      <id property ="cartNum" column="CARTNUM"/>
      
      <result property="gId" column="GID"/>
      <result property="mId" column="MID"/>
      <result property="count" column="COUNT"/>
      <result property="goodsName" column="GOODS_NAME"/>
      <result property="goodsPrice" column="GOODS_PRICE"/>
      <result property="filePath" column="GOODS_FILE_PATH"/>
      <result property="soldout" column="SOLDOUT"/>
      <result property="name" column="USER_NAME"/>
      <result property="phone" column="PHONE"/>
      <result property="address" column="ADDRESS"/>
      <result property="point" column="POINT"/>
   </resultMap>
   
   <resultMap type="Buyer" id="buyerResultSet">
      <id property ="mId" column="MID"/>
      
      <result property="userName" column="USERNAME"/>
      <result property="phone" column="PHONE"/>
      <result property="address" column="GOODS_PRICE"/>
      <result property="point" column="POINT"/>
      <result property="goodsPrice" column="GOODSPRICE"/>

   </resultMap>
   
   <!-- 카트 리스트 -->
   <select id="cartList" resultMap="cartListResultSet">
   	  SELECT C.GID, G.GOODS_NAME, G.GOODS_PRICE, M.MID, C.COUNT, SG.GOODS_FILE_PATH, G.SOLDOUT, M.USER_NAME, M.PHONE, M.ADDRESS, M.POINT
      FROM GOODS G, SELL_GOODS SG, CART C, MEMBER M
      WHERE G.GID = SG.GID
      AND G.GID = C.GID
      AND M.MID = #{mId}
   </select>
   
   <!-- 카트 삭제 -->
   <delete id="deleteCart">
      DELETE CART
      WHERE CARTNUM = #{cartNum}
      AND MID=#{mId}
   </delete>
   
   <select id="buyerinfo" resultMap="buyerResultSet">
      SELECT USER_NAME, PHONE
      FROM MEMBER
      WHERE MID=#{mId}   
   </select>
   
   <!-- 배송지 기본 정보 받아오기 -->
<!--    <select id="standardInfo" resultMap="PaymentResultSet">
      SELECT USER_NAME, ADDRESS, PHONE
      FROM MEMBER
      WHERE MID=${mid}
   </select> -->
   
   <!-- 포인트 쓰기 -->
   
   <insert id="CartInsert" parameterType="Cart">
		INSERT INTO CART
		VALUES(TBL_CART_SEQ.NEXTVAL, #{mId}, #{gId}, #{count}
		)
	</insert>
   
   
   
   

</mapper>